footer
{
    background-color:#e2e3ff;
}

.Container{
    display:flex;
    padding: 2rem;
    justify-content: space-between;
    margin-top: 3rem;

}
ul{
    display:flex;
    gap:3.2rem;
    list-style:none;

}